<!-- TierList作成 -->

<%= javascript_pack_tag 'tier_list' %>

<table class="container">

    <tr id='tier1'>
      <td class="tier bg-danger">Tier1</td>
      <td class="tier_elements row table-danger" id='tier1_elements'></td>
    </tr>

    <tr id='tier2'>
      <td class="tier bg-primary">Tier2</td>
      <td class="tier_elements row table-primary" id='tier2_elements'></td>
    </tr>

    <tr id='tier3'>
      <td class="tier bg-warning">Tier3</td>
      <td class="tier_elements row table-warning" id='tier3_elements'></td>
    </tr>

    <tr id='tier4'>
      <td class="tier bg-secondary">Tier4</td>
      <td class="tier_elements row table-secondary" id='tier4_elements'></td>
    </tr>

    <tr>
      <td>要素</td>
      <td class="row m-0">
        <% @theme.elements.each do |element| %>
          <div class="m-1 bg-light element" id="<%= element.id %>">
            <%= element.name %>
          </div>
        <% end %>
      </td>
    </tr>
</table>

