<div class="container">
  <div class="row">
    <div class="col-md-12 d-flex flex-column">
      <p>
        <%= link_to '新しい順', tier_lists_path(new_order: "true", theme_filtering: @theme_filtaring) %>
        |<%= link_to '古い順', tier_lists_path(old_order: "true", theme_filtering: @theme_filtaring) %>
        |<%= link_to 'いいねが多い順', tier_lists_path(order_many_favorites: "true", theme_filtering: @theme_filtaring) %>
      </p>
    <%= render "user/tier_lists/tier_list_index", tier_lists: @tier_lists %>
    </div>
  </div>
</div>