<h1>User::TierLists#new</h1>


<div>
  <table>
    <tr>
      <td>テーマ名</td>
      <td><%= @theme.name %></td>
    </tr>
    <tr>
      <td>タグ</td>
      <td>
        <% @theme.tags.each do |tag| %>
          <%=tag.name%>,
        <% end %>
      </td>
    </tr>
  </table>
</div>

<div>
  <%= render 'tier_list', theme: @theme %>
</div>

<script>
   alert('jQuery UIのバージョン:' + $.ui.version);

</script>
<script type="text/javascript">
  $.fn.jquery
  console.log("JavaScript is working!");
  $(function() {
    $('.datepicker').datepicker();
  });
</script>