@use '~bootstrap/scss/bootstrap';

/*
 *= require jquery-ui
 */

.main{
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}


 /* TierList用css */
.tier{
  width: 100px;
}

.tier_elements {
  min-height: 50px;
  padding: 5px;
}

.element {
  margin: 5px;
  box-sizing: border-box;
  width: fit-content;
  text-align: center;
}
