@use '~bootstrap/scss/bootstrap';

/*
 *= require jquery-ui
 */

 /* layouts css */
.header{
  background-image: url("../images/haikei_header.jpg");
}

.main {
  background-image: url("../images/haikei_main.jpg");
  background-size: cover;
  background-repeat: repeat-y;
}

.footer{
  background-color: #00bfff;
}

.logo{
  height: 50px;
}

